
.crystal-image {
    width: 200px;
    height: 200px;
  }

  .intro{
    margin-left:0%;
    margin-bottom:5px;
    padding:20px;
    width:350px;
    
  }
  
  h1 {
    margin:5px;
    width:275px;
    padding:5px;
   
  }

  #number-to-guess {
   font-size:50px;
   width: 150px;
   height:100px;
   display:table;
   float: left;

  }

  .wins {
    width: 100px;
    padding: 25px;
    margin-left:4px;
    height:10px;
    float: left;
    
   }

  .losses {
    width: 100px;
    padding: 25px;
    margin-left:4px;
    height:10px;
    float: left;
  }

  .total-score{
    height:50px;
    margin-top:10px;
    width:150px;
    float:left;
   
  }

  .the-number{
    
  }


 