body{
  background: url("http://catnaps.org/islamic/islamgraphics/lozenge01.png");
}

.crystal-image {
    width: 300px;
    height: 300px;
  }

  #h1 {
    margin:auto;
    padding:20px;
    background: orangered;
    font:white;
  }

  .intro{
    margin:auto;
    background:tan;
    font: teal;
  }