body{
  background: url("http://catnaps.org/islamic/islamgraphics/lozenge01.png");
}

.crystal-image {
    width: 300px;
    height: 300px;
  }

  .intro{
    margin-left:0%;
    margin-bottom:5px;
    background:teal;
    color: white;
    padding:20px;
    width:350px;
    
  }
  
  h1 {
    margin:5px;
    width:275px;
    padding:5px;
    background: teal;
    color:white;
  }
  #number-to-guess {
   font-size:50px;
   background:limegreen;
   width: 150px;
   height:100px;
   float:left;
  }

  .wins {
    width: 100px;
    padding: 25px;
    background: orange;
    margin-left:4px;
    height:10px;
    float:left;
   }

  .losses {
    width: 100px;
    padding: 25px;
    background:orange;
    margin-left:4px;
    height:10px;
    float: left;
  }